# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

C'est un programme permettant d'interroger et manipuler une base de données.

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est une version simplifiée de SQL, sans serveur, avec les fonctions classiques mais pas certaines plus avancées. Il est plus simple d'utilisation, donc en fonction des besoins il peut être préférable ou non de l'utiliser.

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

CSV, XML, JSON...

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier binaire.

### Question 5: Donner les caractéristiques de la table `summer` ?

C'est une table contenant Year, City, Sport, Discipline, Athlete, Country, Gender, Event et Medal.

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

```SELECT count(*)
FROM summer```

31165

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

```SELECT  min(Year), max(Year)
FROM summer```

min(Year): 1896

max(Year): 2012

### Question 8: Indiquer les années et villes des olympiades ?

```SELECT DISTINCT Year, City
FROM summer```

![listejo](listejo.png)

### Nombre de médailles d'or gagnées par la France en 1984

```SELECT count(*)
FROM summer
WHERE Year = 1984 AND Country = 'FRA' AND Medal = 'Gold'```

21

### Nombre de médailles gagnées par le Japon en 2012

```SELECT count(*)
FROM summer
WHERE Year = 2012 AND Country = 'JPN'```

84

### Entre 1984 et 2012, combien de médailles gagnées par la France ?

```SELECT count(*)
FROM summer
WHERE Year BETWEEN 1984 AND 2012 AND Country = 'FRA'```

482

### Combien de joueuses comptait l'équipe brésilienne féminine de volleyball en 2012 ?

```SELECT count(*)
FROM summer
WHERE Year = 2012 AND Gender = 'Women' AND Country = 'BRA' AND Event = 'Volleyball'```

12

### La France a-t-elle déjà gagné une médaille d'or au cricket ?

```SELECT count(*)
FROM summer
WHERE Country = 'FRA' AND Discipline = 'Cricket' AND Medal = 'Gold'```

0

### Quel athlète a remporté le plus de médailles d'or ?

```SELECT Athlete,count(Medal)
FROM summer
WHERE Medal = 'Gold'
GROUP BY Athlete
ORDER BY count(Medal) DESC
LIMIT 1```

PHELPS Michael: 18

### Nombre de médailles d'or par pays en 2012

```SELECT Country,count(Medal)
FROM summer
WHERE Medal = 'Gold' AND Year = 2012
GROUP BY Country
ORDER BY count(Medal) DESC```

![countgold](countgold.png)

### Quel pays a remporté le plus de médailles d'or ?

```SELECT Country,count(Medal)
FROM summer
WHERE Medal = 'Gold'
GROUP BY Country
ORDER BY count(Medal) DESC
LIMIT 1```

USA: 2235

### Combien de femmes ont déjà remporté une médaille ?

```SELECT DISTINCT count(*)
FROM summer
WHERE Gender = 'Women'```

8419

### Combien de femmes ont déjà remporté une médaille d'or ?

```SELECT DISTINCT count(*)
FROM summer
WHERE Gender = 'Women' AND Medal = 'Gold'```

2788

### Combien de femmes françaises ont remporté une médaille en 2012 et quelles sont-elles ?

```
--Nombre de femmes françaises qui ont remporté une médaille en 2012
SELECT count(DISTINCT Athlete)
from summer
WHERE Country = 'FRA' AND Gender = 'Women' AND Year = 2012```

29

```
-- Liste des médailles et des athlètes qui les ont remportées (cette fois-ci une même athlète peut être présente plusieurs fois)
SELECT Athlete, Medal
FROM summer
WHERE Gender = 'Women' AND Year = 2012 AND Country = 'FRA'
ORDER BY Athlete```

![listefemmes](listefemmes.png)

### Combien de fois Londres a-t-il accueilli les JO ?

```SELECT count(DISTINCT Year)
FROM summer
WHERE City = 'London'```

3

### Combien de villes différentes ont accueilli les JO entre 1896 et 2012 ?

```SELECT count(DISTINCT City)
from summer```

22

### Quel pays a le plus d'athlètes ?

```SELECT Country,count(DISTINCT Athlete)
FROM summer
GROUP BY Country
ORDER BY count(DISTINCT Athlete) DESC
LIMIT 1```

USA: 3149

### Combien de sports différents par année ?

```SELECT Year, count(DISTINCT Sport)
from summer
GROUP by Year```

![countsports](countsports.png)

### Dans quels sports les Grecs ont-ils déjà gagné des médailles ?

```SELECT Sport, count(Medal)
from summer
WHERE Country = 'GRE'
GROUP BY Sport
ORDER BY count(Medal) DESC```

![SportsGrecs](SportsGrecs.png)

---

Fin